{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}







{{! The main content area on the homepage }}
<main id="content" class="content" role="main">




<div class="container">

<img src="https://s3.amazonaws.com/static.bezar.com/content/vendor-help/welcome-to-designer-guide.png" class="designer-guide-intro"/>

</div>






</main>
